@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');


/*Обнуление*/
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;

}

html,
body {
    height: 100%;



}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 40px;
    line-height: 1;
    margin: 0px 0px 50px 0px;
}

h2 {
    font-size: 30px;
    line-height: 1;
    margin: 0px 0px 20px 0px;
}

ul {
    list-style: none;
}



/* ================ */

$main-color: #9F0013;
$dark: #232222;
$grey: #5C5C5C;

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template: minmax(87px, auto) 1fr minmax(128px, auto) / 1fr;
}

.header {
    font-weight: bold;
    padding: 50px 0px;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 650px) minmax(auto, 450px) 1fr;

}

.header__title {
    line-height: 33px;
    font-size: 28px;
    grid-column: 2/3;

    span {
        color: $main-color;
    }
}

.header__menu {
    align-items: flex-end;
    line-height: 28px;
    font-size: 24px;
    display: grid;
    justify-items: end;
    grid-column: 3/4;
}

.header__list {
    justify-items: end;
    display: grid;
    grid-template: 1fr / minmax(105px, 105px) minmax(20px, 20px) minmax(80px, 80px);

}

.header__link {}

.header__link_active {
    color: $main-color;
}


.random-info {
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 1100px) 1fr;
}

.random-info__main-block {
    grid-column: 2/3;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 550px) minmax(auto, 550px) 1fr;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);


}

.random-info__image {
    img {
        width: 180px;
        height: 180px;
        margin: 35px 30px 35px 40px;
    }
}

.random-info__info {
    grid-column: 2 / 3;
    display: grid;
    grid-template: minmax(auto, 250px) / minmax(auto, 250px) minmax(auto, 265px);

}

.random-info__cta {
    grid-column: 3 / 4;
    background-color: #232222;
    color: white;
}

.random-info__description {
    margin: 35px 0px 35px 0px;
}

.random-info__description-description {
    font-size: 14px;
    font-weight: 400;
}

.random-info__btn {
    margin: 13px 20px 35px 0px
}

.random-info__cta-img {
    position: absolute;
    transform: translate(384px, -204px);
    height: 189px;
    width: 203px;

}

.random-info__cta-message {
    font-size: 24px;
    font-weight: 700;
}

.random-info__cta-text {
    margin: 35px 137px 35px 40px
}

.random-info__cta-button {
    margin: 17px 409px 35px 0px
}

.random-info__buttons {
    display: grid;
    grid-auto-flow: column;
}

.title-hero {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 13px;
}



.btn {
    background-color: $grey;
    height: 38px;
    width: 101px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background: linear-gradient(135deg, transparent 7px, #5C5C5C 0) top left,

        linear-gradient(-135deg, transparent 0px, #5C5C5C 0) top right,

        linear-gradient(-45deg, transparent 7px, #5C5C5C 0) bottom right,

        linear-gradient(45deg, transparent 0px, #5C5C5C 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;

}

.btn_red {
    background-color: $main-color;
    height: 38px;
    width: 101px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background: linear-gradient(135deg, transparent 7px, #9F0013 0) top left,

        linear-gradient(-135deg, transparent 0px, #9F0013 0) top right,

        linear-gradient(-45deg, transparent 7px, #9F0013 0) bottom right,

        linear-gradient(45deg, transparent 0px, #9F0013 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;

}

.content {
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 650px) minmax(auto, 450px) 1fr;
    margin-top: 53px;
    align-items: start;
}

.hero-info {
    grid-column: 3 / 4;
    margin-left: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

    img {
        width: 150px;
        height: 150px;
    }
}



.hero-info__info {
    margin: 25px;
}

.hero-info__description {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400px;
}

.hero-info__btn1 {
    margin-top: 35px;
    margin-bottom: 10px
}

.hero-info__grid {
    display: grid;
    grid-template-columns: minmax(auto, 175px) 1fr;
}

.hero-info__comics {
    p {
        margin-bottom: 13px;
        font-weight: 700;
        font-size: 18px;
    }
}

.hero-info__comic {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 25px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    padding: 0px 10px;
}

.heroes-grid {

    display: grid;
    grid-template-rows: 1fr 128px;
    grid-column: 2 / 3;

    &_selected {
        box-shadow: 0 5px 20px $main-color;
        transform: translateY(-8px);
    }

    &_unselected {
        box-shadow: 0px 0px 20px $dark;
    }

    &__name {
        margin: 15px 15px 74px 15px;
    }
    
    &__flexbox{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button {
        height: 38px;
        width: 170px;
        background-color: $main-color;
        color: white;
        // display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        background: linear-gradient(135deg, transparent 7px, #9F0013 0) top left,

            linear-gradient(-135deg, transparent 0px, #9F0013 0) top right,

            linear-gradient(-45deg, transparent 7px, #9F0013 0) bottom right,

            linear-gradient(45deg, transparent 0px, #9F0013 0) bottom left;
        background-size: 50% 50%;
        background-repeat: no-repeat;
    }

    &__hero {
        width: 200px;
        height: 318px;
        background-color: #232222;
        color: white;
        font-size: 22px;
        font-weight: 700;
        
    }

    &__img {
        img {
            width: 200px;
            height: 200px;
        }
    }

    &__heroes {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        row-gap: 30px;
        column-gap: 25px;
    }
}

.footer {
    &__img {
        img {
            height: 372px;
            width: 467px;
        }
    }
}